*{margin: 0px; padding: 0px;}

body{
    background-color: rgb(145, 145, 145);
    font-family: 'Nunito', sans-serif;
}

.bgimage{
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    /* background-size: 100% 100%; */
    width: 100%;
    height: 100vh;
}

.menu{
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
}

.leftmenu{

    width: 30%;
    line-height: 80px;
    float: left;
    height: 100%;
}

.leftmenu h2{
padding-left: 100px;
padding-top: 20px;
color: white;
font-size: 28px;
text-transform: uppercase;


}

.rightmenu{
    width: 60%;
    height: 100px;
    float: right;
    margin-right: 2px;  
    

}

.rightmenu ul li {
    list-style: none;
    display: inline-block;
    line-height: 70px;
    font-size: 18px;
    color: turquoise;
    justify-content: space-around;
    padding: 20px; 
    font-weight: bold; 
    margin-left: 20px;
    text-transform: uppercase;
}

#homeid{
    color: orange;
}

.rightmenu ul li:hover{
    color: orange;
}

.text{
    width: 100%;
    margin-top: 200px;
    text-transform: uppercase;
    text-align: center;

}
.text h3{
font-size: 35px;
padding: 10px;
color: whitesmoke;
}

.text h4{
font-size: 80px;
padding: 10px;
color: rgb(2, 2, 2);

}

.text h5{
    font-size: 30px;
    padding: 10px;
    color: whitesmoke;
}

#btnone{
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px ;
    padding-right: 16px ;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent ;
    border: 2px solid white;
    background-color: white;
    color: rgb(3, 3, 3);
    
}

#btntwo{
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px ;
    padding-right: 16px ;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent ;
    border: 2px solid white;
    color: white;
    
}

